@import '~@styles/mixins';

.overlay {
    position: fixed;
    inset: 0;
    display: flex;
    background-color: var(--color_background-dark);
    z-index: 10;

    @include useMedia(desktop) {
        background-color: var(--color_overlay);
    }
}

.window {
    position: relative;
    width: 100%;
    padding: 20px;
    background-color: var(--color_background-dark);

    @include useMedia(tablet) {
        margin: 0 auto;
        padding: 50px 40px;
    }

    @include useMedia(desktop) {
        max-width: 724px;
        margin: auto;
        padding: 20px 30px 50px;
    }
}

.window-enter {
    opacity: 0;
    transform: scale(0.9);
}

.window-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition:
        opacity 300ms,
        transform 300ms;
}

.window-exit {
    opacity: 1;
}

.window-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition:
        opacity 300ms,
        transform 300ms;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 12px;

    @include useMedia(tablet) {
        gap: 20px;
    }
}

.close {
    --icon_size: 24px;

    width: var(--icon_size);
    height: var(--icon_size);
    margin-left: auto;
    margin-bottom: 12px;
    color: var(--color_main);

    @include useMedia(tablet) {
        --icon_size: 40px;

        margin-bottom: 40px;
    }

    @include useMedia(desktop) {
        margin-bottom: 20px;
    }
}
