.overlay {
    position: fixed;
    inset: 0;
    padding: 20px;
    background-color: var(--color_background-dark);
    z-index: 10;
}

.window {
    position: relative;
}

.window-enter {
    opacity: 0;
    transform: scale(0.9);
}

.window-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition:
        opacity 300ms,
        transform 300ms;
}

.window-exit {
    opacity: 1;
}

.window-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition:
        opacity 300ms,
        transform 300ms;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 12px;
}

.close {
    margin-left: auto;
    color: var(--color_main);
}
