/*
Динамику будем хранить в css-переменных, а статику - в scss.
css-переменные позволят нам влиять на их значения с помощью классов-модификаторов,
что может быть полезно для разработки новых тем приложения.
*/

:root {
    /* Цвета */
    --color_white: #fff;
    --color_black: #000;

    /* Цвета проекта */
    --color_main: #fff;
    --color_primary: #0083fc;
    --color_background: #262a2f;
    --color_background-dark: #1e2028;
    --color_skeleton: #b5b5b5;
    --skeleton_gradient: linear-gradient(to right, transparent 0%, rgb(255 255 255 / 80%) 50%, transparent 100%);

    /* Шрифты */
    --fs_s: 14px;
    --fs_m: 18px;
    --fs_l: 30px;
}
